html {
  scroll-behavior: smooth;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-logo {
  animation: logo-spin infinite 5s linear;
}

.textanimate {
  display: inline-block;
  transition: transform 300ms;
}
.textanimate:hover {
  transform: translate(0px, -5px);
  filter: drop-shadow(0 0 1em #61dafbaa);
}
.button {
  transition: filter 300ms;
}
.button:hover{
  background: #07C7E0;
  filter: drop-shadow(0 0 1em #61dafbaa);
}