@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de marca */
:root {
  --brand-1: #0f766e;
  --brand-2: #064e3b;
}

/* === Animación personalizada === */
@layer utilities {
  @keyframes border-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animate-border-spin {
    animation: border-spin 3s linear infinite;
  }

  .card-wrapper {
    @apply relative rounded-2xl overflow-hidden;
  }

  .card-wrapper::before {
    content: "";
    background: conic-gradient(
      rgba(6, 207, 238, 0.5) 0deg,
      rgba(3, 150, 173, 0.5) 120deg,
      transparent 150deg
    );
  @apply absolute h-[160%] w-[160%] left-[-30%] top-[-30%] rounded-3xl animate-border-spin;
  }

  .card-content {
    @apply relative w-[calc(100%-2px)] h-[calc(100%-2px)] m-[1.5px] bg-gradient-to-b from-slate-800 to-slate-900 rounded-2xl ;
  }
}
/* === Efecto 3D === */
.perspective {
  perspective: 1000px;
}

.transform-style-preserve {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Shake */
@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-3px); }
  40% { transform: translateX(3px); }
  60% { transform: translateX(-2px); }
  80% { transform: translateX(2px); }
  100% { transform: translateX(0); }
}

.animate-shake {
  animation: shake 0.35s ease-in-out;
}


/* Neon shadow effects buton Copy */
.shadow-neon-blue {
  box-shadow: 0 0 8px #00acee, 0 0 16px #00acee;
}

.shadow-neon-blue-strong {
  box-shadow: 0 0 12px #00acee, 0 0 24px #00acee, inset 0 0 8px #00acee;
}
